<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 
        Stackit 
    </h1>
    <form action="" method = "POST">
        <div> 
            <label for="id"> Student ID</label>
            <textarea id="id" name="id" cols = "30" rows = "10"> </textarea>
        </div>
        <div>
            <label for="name"> Name</label>
            <input type="text" id="name" name="name"> 
        </div>
        <div>
            <label for="age"> Age</label>
            <input type="text" id="age" name="age"> 
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>